*{
    margin: 0;
    padding: 0px;
}

.dctor-conatiner{
    width: 100%;
}
.doctor-main-con{
    background-color: aliceblue;
}
.conatiner-bodypart{
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.box-doct{
    height: 310px;
    width: 600px;
    background-color: #c6c6fd;
    border-radius: 15px;
    border: none;
    padding: 10px;
    color:aliceblue;
    margin: auto auto;
    margin: 20px;
    box-shadow: 1px 1px 2px 1px gray !important;

}
.text2{
    font-size: 25px;
    color: aliceblue;
}
.text{
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.imgdoc{
    height: 200px;
   position: relative;
   left: 380px;
   bottom:280px;
   border-radius: 10px;

}
@media screen and (max-width: 700px) {
    .box-doct{
        height: 250px;
        width: 480px;
        border-radius: 10px;
        padding: 5px;
        margin: 10px;
        box-shadow: 1px 1px 2px 1px gray !important;
    
    }
    .text2{
        font-size: 18px;
        color: aliceblue;
    }
    .text{
        font-size: 18px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .imgdoc{
        height: 170px;
       position: relative;
       left: 300px;
       bottom:220px;
       border-radius: 10px;
    
    }
    
}