*{
    margin: 0;
    padding: 0px;
}

.dctor-conatiner{
    width: 100%;
}
.doctor-main-con{
    background-color: aliceblue;
}
.conatiner-bodypart{
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.box-doct{
    height: 250px;
    width: 440px;
    background-color: #d7d7ec;
    border-radius: 15px;
    border: none;
    padding: 10px;
 
    margin: auto auto;
    margin: 20px;
    box-shadow: 1px 1px 2px 1px gray !important;

}
.text2{
    font-size: 17px;
    color: rgb(96, 91, 91);
}
.text-a{
    font-size: 18px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.imgdoc{
    height: 150px;
   position: relative;
   left: 280px;
   bottom:222px;
   border-radius: 10px;

}
@media screen and (max-width: 700px) {
    *{
        margin: 0;
        padding: 0;
    }
    .box-doct{
        height: 200px;
        width: 280px;
        border-radius: 10px;
        
        margin: 10px;
        box-shadow: 1px 1px 2px 1px gray !important;
    
    }
    .text2{
       display: none;
    }
    .text{
        font-size: 13px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .imgdoc{
        height: 120px;
       position: relative;
       left: 140px;
       bottom:210px;
       border-radius: 10px;
    
    }
    
}