.header{
    background-color: #7c7cb4;
    height: 70px;
    position: sticky;
    top: 0;
    width: 100%;
    padding-top: 10px;
    z-index: 1;
    display: flex;
    justify-content: end;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 2px;
}
.btn-log-out{
    color: #fff;
padding-top: 17px;
 margin-right: 25px;
    position: static;

}
.png-log-out{
    height: 30px;
    
}
img{
    margin-right: 20px;
}
.log{
    text-decoration: none;
}