.navbar-container{
    background-color: blue;
}
.loginbtn{
    color: #fff;
    font-size: 20px;
    margin-right: 40px;
}

.loginbtn1{
    color: #fff;
    font-size: 20px;
    margin-right: 40px;
}