 @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
.wrap{
display: flex;
margin: 0px;
padding: 0;
position: sticky;
top: 0; 


}
.sidebar-open{
    height: 100vh;
  
   
}
.sidebar{
    height: 100vh;
    width: 265px;
  background-color: #7c7cb4;
   
}
.sidebar-close{
  width: 70px;
   padding-left: 20px;
}
.main{
   height: 70px;
    /* /* flex-grow: 1;  */
    background-color:#3333ff;

}
.bi-list{
   font-size: 35px;
   color: white;
}
.main-navbar{
    height: 70px;
    background-color: #2a3f54;
    width: 100%;
}

.bi-house-fill{
    color: #000;
    font-size: 20px;
    padding-left: 20px;
}
.names{
    color: white;
    height: 130px;
    padding: 20px;
}
.nametext1{
    font-size: 30px;
    font-weight: bold;   
    color: #3cd5ff;
}
.sidebar-navlinks ul{
    color: white;
    font-size: 20px;
}
.sidebar-navlinks ul li{
   margin-top: 15px;
   padding: 3px;
   list-style: none;
   text-align: start;
   font-size: 20px;
   color: white;
} 
.sidebar-navlinks ul li:hover{
    background-color: rgb(106, 106, 159);
    color: white;
}
.logo{
    height: 150px;
    display: block;
    padding-top: 25px;
   background-color: re;
}
.text{
    text-decoration: none;
    color: blue
}
.list{
    font-size: 20px;
}
.icon{
    height: 30px;
}
.logo-img{
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 50px;
}