.add-patient-list {
  /* border: 1px solid grey; */
  box-shadow: 1px 2px 2px 1px gray;
  height: 210px;
  margin: 1px auto;
}
input {
  border: 1px solid #727687 !important;
  background-color: #fff !important;
  font-size: 15px !important;
  border-radius: 0px !important;
  margin: 30xp !important;
}

::placeholder {
  color: grey !important;
}
.patient-container {
  height: 230px; 
  overflow-y: scroll;
}

.patient-container::-webkit-scrollbar{
  width: 5px;
}
